/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*行の高さをフォントサイズと同じにしています*/
body {
    line-height:1.5;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
nav ul {
    list-style:none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
    quotes:none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
    text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
    border-collapse:collapse;
    border-spacing:0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
    vertical-align:middle;
}
/* 以上reset.css */

html{
  height: 100%;
}

body{
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

a:hover{
  opacity: 1.0;
}

#navbar{
  height: 50px;
  line-height: 50px;
  margin: 0 ;
  padding: 10px 180px;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.4);
}

.nabvar__logo{
  float:left;
  margin: initial;
}

.nabvar__contact{
  float: right;
  margin: initial;
}

.inactive{
  display: none;
}

.page1__header__h1 {
  margin: 60px auto;
  font-size: 24px;
}

.page1__container{
  height: 200px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.page1__container__box{
  height: 70px;
  width: 600px;
}

button{
  width: 200px;
  height:32px;
  margin: 30px 0;
  border-radius: 18px;
  border:initial;
  font-size: 12px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}

.sns{
  font-size: 10px;
  display:flex;
  width:240px;
  margin: 0 auto 10px;
}

.sns p {
  width: 80px;
}

.copyright{
  width: 280px;
  font-size: 10px;
  margin: 0 auto;
}

/* page2 */
.page2__container{
  margin:40px 0;
}

label{
  cursor:pointer;
}

.page2__checkbox {
  margin: 0 auto;
  width: 330px;
  text-align: left;
}

.page2__checkbox__littletitle{
  width: 200px;
  margin: 16px auto 4px;
  text-align: center;
}

.page2__checkbox__announcement{
  font-size: 10px;
  padding: 30px 0 ;
  display: inline-block;
}

#BUTTON2{
    margin: 0 0 30px;
    display:inline-block;
}

/* page3 */

.page3__container3{
  margin: 80px auto;
}

.css-fukidashi {
  position: relative;
  padding: 0;
  margin: 0;
}

.text {
  width: 200px;
  position: relative;
  height: 70px;
  border-bottom: solid 1px yellow;
}

.display-none{
  display: none;
}

.fukidashi {
  width: 300px;
  height: 30px;
  line-height: 30px;
  position:absolute;
  top: -60px;
  left: 30px;
  padding: 5px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi {
  display: inline;
}

.page3__buttonbox{
  margin: 0 auto;
  width: 400px;
  display: flex;
}

.page3__buttonbox__button3{
  margin: 30px 50px;
  width: 100px;
  height:32px;
  border-radius: 18px;
  font-size: 12px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}

/* page4 */
#BUTTON4{
  display: flex;
  margin: 0 auto;
  width: 400px;
}

.page4__titile{
  margin: 20px 0;
}

.page4__basal-disease__block{
  width: 400px;
  margin: 0 auto;
  padding: 0;
}
.page4__basal-disease--element{
  width: 350px;
  list-style: none;
  margin: 0 25px;
}
.page4__heavy{
  margin: 20px 0;
}

.page4__buttonbox__button{
  margin: 30px;
}

/* page5 */
.page5__title{
  margin: 30px 0;
}

.page5__smallcheckbox{
  width: 120px;
  text-align: left;
  margin: 0 auto;
}

.css-fukidashi2 {
  position: relative;
  padding: 0;
  margin: 0;
}

.fukidashi2 {
  display: none;
  width: 350px;
  height: 120px;
  line-height: 30px;
  position:absolute;
  padding: 10px;
  top: -160px;
  left: 45px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi2:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi2 {
  display: inline;
}

.close_css_fukidashi2{
  display:none;
}

.page5__heavy{
  margin: 10px 0;
}

/* page6 */
.page6__title{
  margin: 20px 0 10px;
}

.page6__smallcheckbox{
  margin: 10px 0;
}

.page6__smallcheckbox--item{
  padding: 0px;
}

.page6__smallcheckbox--element{
  list-style: none;
  padding: none;
}

.css-fukidashi3 {
  position: relative;
  padding: 0;
  margin: 0;
}

.fukidashi3 {
  display: none;
  width: 400px;
  height: 100px;
  line-height: 30px;
  padding: 10px;
  position:absolute;
  top: -125px;
  left: 30px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi3:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi3 {
  display: inline;
}

.page6__pregnant{
  padding: 25px 0;
}

/* PC用 */
@media screen and (min-width: 760px){
.br-pc {
  display:block!important;
}

.br-sp {
  display:none;
}

.br-tab {
  display:none;
}
}

/* タブレット用 */
@media screen and (max-width: 759px){
.br-pc {
  display:none;
}

.br-sp {
  display:none;
}

.br-tab {
  display:block;
}
#navbar{
  height: 30px;
  line-height: 30px;
  padding: 10px 50px;
}
}

/* スマホ用 */
@media screen and (max-width: 479px){
.br-pc {
  display:none;
}

.br-sp {
  display:block!important;
}

.br-tab {
  display:none;
}

body{
  font-size: 10px;
}

#navbar{
  height: 30px;
  line-height: 30px;
  padding: 10px 30px;
}

.sns{
  width:220px;
}

/* page1 */
.page1__container{
  height: 150px;
}

/* page2 */
.page2__checkbox {
  width: 200px;
}

/* page3 */
.page3__buttonbox__button3 {
  margin: 30px 30px;
  width: 80px;
  font-size: 10px;
}
.page3__container3 {
  margin: 60px 0 30px;
}

.page3__buttonbox{
  width: 90%;
  margin: 0 auto;
}

.text {
  width: 100px;
}

.fukidashi {
  width: 30vw;
  height: 50px;
  line-height: 25px;
  top: -76px;
  left: -75px;
  font-size: 10px;
}

.fukidashi:after {
  left: 75px;
  bottom: -19px;
}

/* page4 */
.page4__titile{
  margin: 30px 0;
}

.page4__basal-disease__block {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.page4__basal-disease--element {
  margin: 0 auto;
  width: 200px;
}
.smallcheckbox{
  width: 120px;
  text-align: left;
  margin: 0 auto;
}

.page4__heavy{
  margin: 30px;
}

#BUTTON4 {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.page4__buttonbox__button {
  margin: 30px 30px;
  width: 80px;
  height:32px;
  border-radius: 18px;
  font-size: 12px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}

/* page5 */
.page5__title {
  margin: 30px 30px 10px;
}

.page5__smallcheckbox {
  width: 80px;
}

  .fukidashi2 {
    width: 250px;
    height: 100px;
    line-height: 25px;
    top: -135px;
    left: -55px;
    font-size: 10px;
  }

  .fukidashi2:after {
    left: 80px;
  }

  /* page6 */
  .page6__title{
    margin: 30px 0 0 0;
  }

  .page6__smallcheckbox--item{
    padding: 10px 0;
    margin:  0 auto;
    width:  60px;
  }

  .page6__smallcheckbox--element{
    width: 60px;
  }

  .page6__pregnant{
    padding: 20px 0 20px;
  }

  .fukidashi3 {
    width: 200px;
    height: 140px;
    line-height: 28px;
    padding: 10px;
    top: -175px;
    left: -135px;
    font-size: 10px;
  }

  .fukidashi3:after {
    left: 142px;
  }
}

.page6__buttonbox--button{
  margin: 30px 30px;
  width: 80px;
  height:32px;
  border-radius: 18px;
  font-size: 10px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}