html{
  height: 100%;
}

body{
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

a:hover{
  opacity: 1.0;
}

#navbar{
  height: 50px;
  line-height: 50px;
  margin: 0 ;
  padding: 10px 180px;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.4);
}
.logo{
  float:left;
  margin: initial;
}
.contact{
  float: right;
  margin: initial;
}

.inactive{
  display: none;
}

h1 {
  margin: 60px auto;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

.container{
  height: 200px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.box{
  height: 70px;
  width: 600px;
  margin: 0 auto;
}

button{
  width: 200px;
  height:32px;
  margin: 30px 0;
  border-radius: 18px;
  border:initial;
  font-size: 12px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}

.sns{
  font-size: 10px;
  display:flex;
  width:240px;
  margin:0 auto;
}

.sns p {
  width: 80px;
}

.copyright{
  width: 280px;
  font-size: 10px;
  margin: 0 auto;
}

footer{
  position:relative;
  bottom: 0px;
}

/* page2 */
.container2{
  margin: 0 0 40px;
}

label{
  cursor:pointer;
}

.checkbox {
  margin: 0 auto;
  width: 330px;
  text-align: left;
}

.littletitle{
  width: 200px;
  margin: 16px auto 4px;
  text-align: center;
}

.announcement{
  font-size: 10px;
  padding: 30px 0 ;
  display: inline-block;
}

#BUTTON2{
    margin: 0 0 30px;
    display:inline-block;
}

/* page3 */
.buttonbox{
  margin: 0 auto;
  width: 400px;
  display: flex;
}

.container3{
  margin: 80px auto;
}

.button3{
  margin: 30px 50px;
  width: 100px;
  height:32px;
  border-radius: 18px;
  font-size: 12px;
  color: white;
  background-color: rgb(80, 179, 184);
  cursor:pointer;
  outline: none;
  user-select: none;
}

.css-fukidashi {
  position: relative;
  padding: 0;
  margin: 0;
}

.text {
  width: 200px;
  position: relative;
  height: 70px;
  border-bottom: solid 1px yellow;
}

.display-none{
  display: none;
}

.fukidashi {
  width: 300px;
  height: 30px;
  line-height: 30px;
  position:absolute;
  top: -60px;
  left: 30px;
  padding: 5px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi {
  display: inline;
}

/* page4 */
#BUTTON4{
  display: flex;
  margin: 0 auto;
  width: 400px;
}

.basal_disease ul{
  width: 400px;
  margin: 0 auto;
  padding: 0;
}
.basal_disease li{
  width: 350px;
  list-style: none;
  margin: 0 25px;
}
.page4 .heavy{
  margin: 20px 0;
}

/* page5 */
.page5title{
  margin: 30px 0;

}

.smallcheckbox{
  width: 120px;
  text-align: left;
  margin: 0 auto;
}

/* pageï¼– */
.page6title{
  margin: 30px 0;
}

.smallcheckbox ul{
  padding: 0px;
}

.smallcheckbox li{
  list-style: none;
  padding: none;
}

h5{
  margin: 10px 0;
}

.pregnant{
  padding: 30px 0;
}

.css-fukidashi2 {
  position: relative;
  padding: 0;
  margin: 0;
}

.fukidashi2 {
  display: none;
  width: 350px;
  height: 120px;
  line-height: 30px;
  position:absolute;
  padding: 10px;
  top: -160px;
  left: 45px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi2:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi2 {
  display: inline;
}

.close_css_fukidashi2{
  display:none;
}

/* page6 */
.css-fukidashi3 {
  position: relative;
  padding: 0;
  margin: 0;
}

.fukidashi3 {
  display: none;
  width: 400px;
  height: 100px;
  line-height: 30px;
  padding: 10px;
  position:absolute;
  top: -125px;
  left: 30px;
  border-radius: 8px;
  background: #33cc99;
  color: #fff;
  font-size: 12px;
}

.fukidashi3:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.text:hover + .fukidashi3 {
  display: inline;
}

/* PCç”¨  */
@media screen and (min-width: 760px){
  .br-pc {
    display:block!important;
  }

  .br-sp {
    display:none;
  }

  .br-tab {
    display:none;
  }
}

  /* ã‚¿ãƒ–ãƒ¬ãƒƒãƒˆç”¨ãƒ¬ã‚¹ãƒãƒ³ã‚·ãƒ– */
@media screen and (max-width: 759px){
  .br-pc {
    display:none;
  }

  .br-sp {
    display:none;
  }

  .br-tab {
    display:block;
  }
}
     /* ã‚¹ãƒžãƒ›ç”¨ãƒ¬ã‚¹ãƒãƒ³ã‚·ãƒ– */
@media screen and (max-width: 479px){
  .br-pc {
    display:none;
  }

  .br-sp {
    display:block!important;
  }

  .br-tab {
    display:none;
  }

  body{
    font-size: 10px;
  }

  #navbar{
    height: 30px;
    line-height: 30px;
    padding: 10px 30px;
  }

  .container{
    height: 150px;
  }

/* page2 */
  .sns{
    width:220px;
  }

  .checkbox {
    margin: 0 auto;
    width: 330px;
    text-align: left;
  }

  /* page3 */
  .buttonbox{
    width: 100vw;
  }

  .text {
    width: 100px;
  }

  .fukidashi {
    width: 30vw;
    height: 50px;
    line-height: 25px;
    top: -76px;
    left: -75px;
    font-size: 10px;
  }

  .fukidashi:after {
    left: 75px;
    bottom: -19px;
  }

  /* page4 */
  .container4 p {
    margin: 30px 0;
  }

  .smallcheckbox{
    width: 120px;
    text-align: left;
    margin: 0 auto;
  }

  .heavy{
    margin: 30px;
  }

  /* page5 */
  .page6title{
    margin: 30px 0 0 0;
  }

  ul{
    padding: 10px 30px;
    margin:  0 auto;
  }

  li{
    width: 60px;
  }

  .pregnant{
    padding: 20px 0 20px;
  }

  .fukidashi2 {
    width: 250px;
    height: 100px;
    line-height: 25px;
    top: -135px;
    left: -55px;
    font-size: 10px;
  }

  .fukidashi2:after {
    left: 80px;
  }

  .fukidashi3 {
    width: 200px;
    height: 140px;
    line-height: 28px;
    padding: 10px;
    top: -175px;
    left: -135px;
    font-size: 10px;
  }

  .fukidashi3:after {
    left: 142px;
  }
}
